* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.title-game {
  color: #333;
  font-size: 2.2rem;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 0;
  font-family: Arial, sans-serif;
  color: #1976d2;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

#gameCanvas {
  width: 1000px;
  height: 400px;
  display: block;
  margin: 40px auto;
  border-radius: 16px;
  box-shadow: 0 4px 24px #0002;
}

#gameModal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

#gameModal.show {
  opacity: 1;
}

#gameModal .modal-content {
  background: #fff;
  padding: 40px 32px;
  border-radius: 16px;
  box-shadow: 0 4px 24px #0004;
  text-align: center;
}

#gameModal h2 {
  color: #c62828;
  margin-bottom: 16px;
}

#restartBtn {
  padding: 10px 24px;
  font-size: 18px;
  border-radius: 8px;
  border: none;
  background: #1976d2;
  color: #fff;
  cursor: pointer;
}
